.content-estrella td {
    border: none !important;
}

img.estrella {
	
    width: 30px !important;
    display: block;
    margin: auto;
}


img.estrella:hover,.estrella-active {
    background: url(/themes/question/estrellas/survey/questions/answer/arrays/10point/assets/estrella_hover.png);
    background-size:cover;
}