table.ls-answers{
	width: 400px !important;
	height: auto;
}

span.carita {
    width: 50px;
    height: 50px;
    background: red;
  
    display: inline-block;
    margin-right: 16px;
 
}


.content-caritas td > div {
    display: inline-block;
     vertical-align: middle;
    margin-left: 15px;
   
}


.content-caritas td > div :nth-child(2) {
    width: 201px;
    text-align: left;
}
.content-caritas td > div :nth-child(1) {
   
    width: 60px;
}



span.carita.carita4 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) 0 0;
    width: 50px;
    height: 50px;
    background-size: cover;
}

span.carita.carita4:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) 0 0;
   
    height: 50px;
    background-size: cover;
}

span.carita.carita5 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) 355px 0;
    width: 50px;
    height: 50px;
    background-size: cover;
}
span.carita.carita5:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) 355px 0;
    
    height: 50px;
    background-size: cover;
}

span.carita.carita6 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) 295px 0;
    width: 50px;
    height: 50px;
    background-size: cover;
}
span.carita.carita6:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) 295px 0;
   
    height: 50px;
    background-size: cover;
}


span.carita.carita7 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) 234px 0;
    width: 50px;
    height: 50px;
    background-size: cover;
}
span.carita.carita7:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) 234px 0;
   
    height: 50px;
    background-size: cover;
}

span.carita.carita8 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) 174px 0;
    width: 50px;
    height: 50px;
    background-size: cover;
}
span.carita.carita8:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) 174px 0;
    
    height: 50px;
    background-size: cover;
}

span.carita.carita9 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) 113px 0;
    width: 50px;
    height: 50px;
    background-size: cover;
}
span.carita.carita9:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) 113px 0;
   
    height: 50px;
    background-size: cover;
}

span.carita.carita10 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) 58px 0;
    width: 50px;
    height: 50px;
    background-size: cover;
}

span.carita.carita10:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) 58px 0;
   
    height: 50px;
    background-size: cover;
}