table.content-caritas{
	width: 400px !important;
	height: auto;
}

span.carita {
    width: 50px !important;
    height: 50px !important;
    background: red;
    display: inline-block;
    margin-right: 16px;
 
}


.content-caritas td > div {
    display: inline-block;
     vertical-align: middle;
    margin-left: 15px;
   
}


.content-caritas td > div :nth-child(2) {
    width: 201px;
    text-align: left;
}
.content-caritas td > div :nth-child(1) {
   
    width: 60px;
}



span.carita.carita4 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) 0 0;
    background-size: cover;
}

span.carita.carita4:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) 0 0;
   
    height: 50px;
    background-size: cover;
}

span.carita.carita5 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) -50px 0;
    background-size: cover;
}
span.carita.carita5:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) -50px 0;
    
    height: 50px;
    background-size: cover;
}

span.carita.carita6 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) -100px 0;
    background-size: cover;
}
span.carita.carita6:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) -100px 0;
   
    height: 50px;
    background-size: cover;
}


span.carita.carita7 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) -150px 0;
    background-size: cover;
}
span.carita.carita7:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) -150px 0;
   
    height: 50px;
    background-size: cover;
}

span.carita.carita8 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) -200px 0;
    background-size: cover;
}
span.carita.carita8:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) -200px 0;
    
    height: 50px;
    background-size: cover;
}

span.carita.carita9 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) -250px 0;
    background-size: cover;
}
span.carita.carita9:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) -250px 0;
   
    height: 50px;
    background-size: cover;
}

span.carita.carita10 {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas.png) -300px 0;
    background-size: cover;
}

span.carita.carita10:hover {
    background: url(/themes/question/caritas/survey/questions/answer/arrays/10point/assets/caritas_hover.png) -300px 0;
   
    height: 50px;
    background-size: cover;
}